<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
  <appenders>
    <console name="CONSOLE" target="SYSTEM_OUT">
      <PatternLayout pattern="%highlight{[%p]}%style{[%c]}{bright} %m%n"/>
    </console>
    <!--
    <file name="HTML" fileName="C:/mainlog.html">
      <HTMLLayout charset="UTF-8" title="mikasa.net logs" />
    </file>
    -->
  </appenders>
  <loggers>
    <!--
    <logger name="org.springframework" level="error"/>
    <logger name="net.sf.appinfo" level="off"/>
    <logger name="org.eclipse.jetty.server" level="info"/>
    -->
    <logger name="com.gargoylesoftware" level="error"/>
    <root level="info">
      <appenderRef ref="CONSOLE"/>
      <!--
      <appenderRef ref="HTML"/>
      -->
    </root>
  </loggers>
</configuration>