<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<title>mikasaweb 4.0.0</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.0/css/bootstrap.min.css" />
</head>
<body>

	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#"> <img alt="Brand" src="img/logo.png" />
				</a>
			</div>
			<p class="navbar-text navbar-left">mikasa.net 4.0 beta</p>
			<p class="navbar-text pull-right">
				<a href="logout">logout</a>
			</p>
			<p class="navbar-text pull-right"> logged in as: <label th:text="${user}"/></p>
		</div>
	</nav>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2"></div>
			<div class="col-md-8">
				<div class="well">
				  mikasa.net 4.0 beta. Welcome <label th:text="${user}"/>
				</div>

				<table class="table table-striped table-bordered table-hover">
					<thead>
				    <tr>
				      <th th:text="Name" width="600"></th>
				      <th th:text="Date"></th>
				      <th th:text="Assistants"></th>
				      <th th:text="Amount"></th>
				    </tr>
					</thead>
				  <tbody>
				    <tr th:each="sb:${activities}">
				      <td th:text="${sb.name}"></td>
				      <td th:text="${sb.date}"></td>
				      <td th:text="${sb.assistants}"></td>
				      <td th:text="${sb.amount}"></td>
				     </tr>
				  </tbody>
				</table>

			</div>
			<div class="col-md-2"></div>
		</div>
	</div>

	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
		<div class="container">
			<p class="navbar-text navbar-right">version: ${appVersion}</p>
		</div>
	</nav>

</body>
</html>